<%= form_tag edit_multiple_admin_index_path do |f| %>
<table>
  <% @users.each do |user| %>
  <% if !user.public %>
  <tr>  
    <td><%= check_box_tag "user_ids[]", user.id %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<%= submit_tag "Edit Checked" %>
<% end %>